# Sampling Subset - Crawled Dataset (Beautiful Soup)

Involve just removing Null Values and choosing 5000 rows randomly.

In [49]:
import pandas as pd
import re

In [36]:
dataset = pd.read_csv('/Users/sankeerthana/Documents/NTU/YEAR_4/SEM_2/CZ4034/IR-Sentiment-Analysis/IR-Sentiment-Analysis/skincare_dataset/productReviews_soup.csv')
dataset.head()

,Product_ID,Product_Name,Reviewer,Review_Title,Review
0,6857050914885,Retinol Expert 0.1%,Caressa,The Real Deal!,"I have been using this for 2 weeks now, and I..."
1,6857050914885,Retinol Expert 0.1%,Bryan,Gave me a break-out?,I received the sample size of this product an...
2,6857050914885,Retinol Expert 0.1%,Tristan,,NaN
3,6857050914885,Retinol Expert 0.1%,Claire,Lovely and Doesn’t Irritate,NaN
4,6857050914885,Retinol Expert 0.1%,Sun M.,It's so great to have pure 0.1% retinol,NaN

### Data Exploration

In [7]:
dataset.shape

(62460, 5)

In [15]:
print("Number of Null Values:")
print(f"Review Title: {dataset['Review_Title'].isna().sum()}")
print(f"Review : {dataset['Review'].isna().sum()}")

Number of Null Values:
Review Title: 1
Review : 5256

The crawled dataset has 62460 rows and 5 columns out of which 5256 rows have null values.

In [41]:
dataset.drop(['Product_Name', 'Reviewer'], axis=1, inplace=True)
dataset

,Product_ID,Review_Title,Review
0,6857050914885,The Real Deal!,"I have been using this for 2 weeks now, and I..."
1,6857050914885,Gave me a break-out?,I received the sample size of this product an...
2,6857050914885,,NaN
3,6857050914885,Lovely and Doesn’t Irritate,NaN
4,6857050914885,It's so great to have pure 0.1% retinol,NaN
...,...,...,...
62455,3942309625925,Loved it,Loved it
62456,3942309625925,Soothing,This sheet mask soothes my acne prone skin. M...
62457,3942309625925,Great for sensitive skin,I have very sensitive skin and this was great...
62458,3942309625925,Wow,I got this for its calming effects and wasn't...
62459,3942309625925,Super calming and hydrating!,I love this mask! I’m a huge fan of sheet mas...

In [82]:
dataset.dropna(inplace=True)

In [83]:
dataset

,Product_ID,Review_Title,Review
0,6857050914885,The Real Deal!,"I have been using this for 2 weeks now, and I..."
1,6857050914885,Gave me a break-out?,I received the sample size of this product an...
5,6857051275333,The secret to smooth skin!,This product 100% helps my skin feel smoother...
6,6857051275333,Love the way it feels!,I use this product as a toner in the mornings...
7,10245844553,Refreshing,Cleans off any dead skin but doesn’t leave my...
...,...,...,...
62455,3942309625925,Loved it,Loved it
62456,3942309625925,Soothing,This sheet mask soothes my acne prone skin. M...
62457,3942309625925,Great for sensitive skin,I have very sensitive skin and this was great...
62458,3942309625925,Wow,I got this for its calming effects and wasn't...
62459,3942309625925,Super calming and hydrating!,I love this mask! I’m a huge fan of sheet mas...

In [86]:
print("Number of Null Values:")
print(f"Review Title: {dataset['Review_Title'].isna().sum()}")
print(f"Review : {dataset['Review'].isna().sum()}")

Number of Null Values:
Review Title: 0
Review : 0

In [87]:
sampled_df = dataset.sample(n=5000)
sampled_df

,Product_ID,Review_Title,Review
40281,2074447675461,Fell instantly in love with this product,From the moment I tried this I fell in love i...
60053,263067205641,Great product!,"After reading the reviews, I decided to buy t..."
24038,348828425,Would Be 5 Stars but They Added Fragrance,I bought this to replace the old Pure (or wha...
56488,1948686581829,Amazing! Why didn't I buy this sooner?,I love this product! I mix one scoop with my ...
16275,2048096901,I have a combination skin,I have a combination skin and like foam clean...
...,...,...,...
31606,2032448143429,So-so,"After reading raving reviews, I was excited t..."
28003,263643561993,Best for deep cystic acne,I have had relatively good success with these...
60539,3576059269,Sparkling clean!,Dissolved my make-up and made it feel like my...
39609,2070553460805,My face is happy!,I decided to purchase this since I already ha...
1088,10245844553,Really good toner!,This toner helped to even out my skin tone. I...

In [89]:
sampled_df.to_csv('/Users/sankeerthana/Documents/NTU/YEAR_4/SEM_2/CZ4034/IR-Sentiment-Analysis/IR-Sentiment-Analysis/skincare_dataset/crawled_reviews_5k.csv')